<div class="footer" style="position:fixed;bottom:0!important;width:100%;padding-bottom:20px;">
  <div class="row">

      <div class="col-sm-3" style="width:30%;">
      </div>
      <div class="col-sm-2" >
        <a  href="https://racjacsolutions.co.uk/customer-terms">Terms and Conditions</a>
      </div>
  <div class="col-sm-2 " style="width:13%;">
    <a  href="https://racjacsolutions.co.uk/cookies">Cookies Policy</a>
</div>
<div class="col-sm-2 pull-left" >
  <a  href="https://racjacsolutions.co.uk/privacy-policy">Privacy Policy</a>
</div>

  <div class="col-sm-3">
  </div>
  </div>
</div>
