{% extends "base.html" %}

{% block content %}
  <main>
    <div class="container">
{% if error %}
<br>

{% if error == "error-password-username" %}
<div class="alert alert-danger">
  <strong>INFO!</strong> Invalid email or password
</div>
{% endif %}
{% if error == "new-pass-set" %}
<div class="alert alert-warning">
  <strong>INFO!</strong> Your password has been set, you can now login.
</div>
{% endif %}
{% if error == "reset-pass-not-sent" %}
<div class="alert alert-danger">
  <strong>Error!</strong> Reset passwod link not sent
</div><br>
{% endif %}

{% if error == "reset-pass-sent" %}
<div class="alert alert-info">
  <strong>Success!</strong> We have sent you an email – please follow the instructions within it to reset your password. Please note that the link will expire after ten days.
<b>If you don’t receive an email from us in the next few minutes please check your spam or junk folders.</b>
</div><br>
{% endif %}
{% endif %}


      <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

              <div class="d-flex justify-content-center py-4">
                <a href="./" class="logo d-flex align-items-center w-auto">
                  <img src="assets/img/logo.png" alt="">
                  <span class="d-none d-lg-block">Extract Engine</span>
                </a>
              </div><!-- End Logo -->

              <div class="card mb-3">

                <div class="card-body">

                  <div class="pt-4 pb-2">
                    <h5 class="card-title text-center pb-0 fs-4">Forgot Your Password?</h5>
                    <p class="text-center small">We get it, stuff happens. Just enter your email address below and we'll send you a link to reset your password!</p>
                  </div>

                  <form class="row g-3 needs-validation" action="./reset_pass" method="POST">

                    <div class="col-12">
                      <label for="yourUsername" class="form-label">Email</label>
                      <div class="input-group has-validation">
                        <span class="input-group-text" id="inputGroupPrepend">@</span>
                        <input type="text" name="email" class="form-control" id="yourUsername" required>
                        <div class="invalid-feedback">Please enter your email.</div>
                      </div>
                    </div>

                  
                    <div class="col-12">
                      <button class="btn btn-primary w-100" type="submit">Reset</button>
                    </div>
                    <div class="col-12">
                      <p class="small mb-0">Already have an account? <a href="./login">Log in</a></p>
                    </div>
                  </form>

                </div>
              </div>



            </div>
          </div>
        </div>

      </section>

    </div>
  </main><!-- End #main -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  {% endblock %}
